.alertext{
  padding: 20px 30px;
  min-width: 250px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
}
.alertext-close{
  float: right;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
}
.alertext-container{
  position: fixed;
  bottom: 10px;
  right: 0;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.alertext-danger{
  background: #FF3D00;
  color: white;
}


.alertext-primary{
  background: #0D47A1;
  color: white;
}
.alertext-success{
  background: #689F38;
  color: white;
}

.alertext-warning{
  background: #EF6C00;
  color: white;
}

.alertext-info{
  background: #2196F3;
  color: white;
}

body{
  font-family: Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

@-webkit-keyframes fadeIn{
  from{
    opacity: 0
  }
  to{
    opacity: 1
  }
}

@keyframes fadeIn{
  from{
    opacity: 0
  }
  to{
    opacity: 1
  }
}
